<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="PECConn" connectionString="Data Source=10.249.1.125;Initial Catalog=PECDBTest;User ID=AppSa;Password=Opuswebsql2017;Connect Timeout=200; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />
      <add name="UMatrixDbConn" connectionString="Data Source=10.249.1.125 ;Initial Catalog=UMatrixDb;User ID=AppSa;Password=Opuswebsql2017;Connect Timeout=200; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />
      <add name="EDMSConn" connectionString="Data Source=10.249.1.125;Initial Catalog=EDMS_STR;User ID=AppSa;Password=Opuswebsql2017;Connect Timeout=2000; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient"/>



      <add name="ProjectDbConn" connectionString="Data Source=10.249.1.125;Initial Catalog=PECDBTest;User ID=AppSa;Password=Opuswebsql2017 ;Connect Timeout=2000; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient"/>
      <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0}; Extended Properties='Excel 8.0; HDR={1}'" />
      <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source={0}; Extended Properties='Excel 8.0; HDR={1}'" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" executionTimeout="900" />
      <customErrors mode="Off"></customErrors>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
    </system.webServer>
  <appSettings>
<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
  
<runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.5.2.0" newVersion="5.5.2.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>


</configuration>
